

.header { 
    color: red;
}

@media (min-width: 576px) {  
    .header { 
        color: orange;
    }
}

@media (min-width: 768px) {  
    .header { 
        color: yellow;
    }
}

@media (min-width: 992px) { 
    .header { 
        color: green;
    }
}

@media (min-width: 1200px) {  
    .header { 
        color: blue;
    }
}